In [1]:
print("hello world")

hello world

# Data science tools and ecosystem

This is my first jupyter notebook about Data science tools.In this course i have learned about tools for data science, and language, libraries, dataset, jupyter notebook, R studio and github.

# Top Languages for Data Science

- PYTHON,
- SQL,
- R,
- JAVA,
- SCALA,
- JULIA,
- MATLAB,
- C/C++,
- SAS,
- SWIFT,
- JAVA SCRIPT

# LIST OF LIBRARIES

- PANDAS,
- NUMPY,
- MATPLOTLIB
- SCIKIT LEARN,
- SCIPY,
- PYTORCH,
- TENSOR FLOW,
- KERAS,
- SEABORN.
- PLOTLY.

## Data science tools

  |Categories                     |Tools|
  |:------------------------------|:------------|
|Data Management                  |My SQL,postgre sql,MongoDB,Apache couchDB,Cassandra,Hadoop file system,ceph|
|Data integration and transformation|Apache airflow,Sparksql,NodeRED,Kubeflow,apache kafka|
|Data visualization               |Pixie dust,Hue,Kibana,Apache superset|
|Model deployment                 |Apache predictionIO,seldon,Kubernetes,Redhat,Tensor flow,Mleap|
|Model monitoring                 |ModelDB,prometheus,IBM AI fairness360,IBM adversarial robustness 360 toolbox|
|Code asset management            |Git,Github,Gitlab,Bitbucket|
|Data assest management           |Apache Atlas,ODPi Egeria,Kylo|

#  Arithmetic Expression

\begin{align*}
(a+b)^2 = a^2+2ab+b^2
\end{align*}

In [13]:
# Multiply and add two numbers
a=3
b=4
c=5
d=a+(4*5)
print(d)

23

In [14]:
# Convert minutes to hours
minutes = 450
hours = minutes//60
print(hours)

7

##  To list objectives

- Title
- Introduction
- Languages
- Libraries
- Tools
- anaconda
- arithmetic expression
- Data sets
- conversion
- authors name
- share in github

## Author name

* Lakshmi Holla
* Niveditha Pandith